In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Analysis of Central Government Debt across income levels

#### Data Cleaning
The analysis will sample 3 countries in each income level.

In [14]:
#read data
file_path=r"C:\Users\User\Desktop\Global Debt Database\central_government_debt.csv"
central_govdebt=pd.read_csv(file_path,encoding='latin1')

In [45]:
central_govdebt.head(2)

,country_name,indicator_name,1950,1951,1952,1953,1954,1955,1956,1957,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.904479,8.700291,9.154083,8.437266,7.997660,7.384413,6.130410,7.397495,NaN,NaN
1,Albania,Annual average of central government debt (Per...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,65.530002,70.030002,72.670076,72.380044,70.119932,67.610017,65.729868,74.451517,73.162897,66.463658

In [31]:
#Filter out to include only sample countries
countries=['Afghanistan','Burundi','Burkina Faso','Sri Lanka','Bolivia','Kenya','Mexcico','China',
           'Indonesia','Saudi Arabia','Germany','United States']

In [38]:
cgov_debt=central_govdebt[central_govdebt['country_name'].isin(countries)]

In [48]:
cgov_debt.head(2)

         2011       2012       2013
0    7.501084   6.759468   6.904479
19  30.223498  29.087930  28.298954

In [47]:
#now we drop columns of years outside our range of interest-2010-2022
cgov_debt.drop(cgov_debt.iloc[:,3:59].columns, axis=1, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_9224\776089697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cgov_debt.drop(cgov_debt.iloc[:,3:59].columns, axis=1, inplace=True)